extends ./base.jade

block vars
  - var title = "Nintendo Entertainment System over Portable Network Graphics";
  - var isHome = true;

block content
  | Nintendo Entertainment System over Portable Network Graphics (NESoPNG) let's
  | you play games together with other people on the World Wide Web and it doesn't require
  | JavaScript.

  dl
    td
      a(href="/Play")="Play now"
    dd="with people from all over the world!"
    td
      a(href="/Why.html")="Why"
    dd="and why does this page look like crap?"
    td
      a(href="/Technical.html")="Technical"
    dd="Details of protocols, formats, program internals etc"
    td
    td
      a(href="/People.html")="People"
    dd="A list of some people involved in the project."
    td
      a(href="https://github.com/reimertz/nes-o-png" target="_blank")="How can I help?"
    dd="If you would like to support the NESoPNG programme"
    td
      a(href="https://github.com/reimertz/nes-o-png" target="_blank")="Getting code"
    dd="Getting the code by anonymous FTP , etc."



