extends ./base.jade

block vars
  - var title = "People behind NESoPNG";


block content
  | This is a list of some of those who have contributed to the NESoPNG project.

  h2="Piérre Reimertz"
  | Currently working as a front-end developer at BandPage while pursuing a
  | Master Degree in Software Engineering at Chalmers University of Technology.
  | He also loves to work on projects like this.
  dl
    td
      a(href="//twitter.com/reimertz" target="_blank")="Twitter"
    dd="Im on Twitter as @reimertz if you'd like to tweet me!"
    td
      a(href="//github.com/reimertz" target="_blank")="Github"
    dd="You can find all of my open-source projects here"