extends ./base.jade

block vars
  - var title = "Why?";

block content
  img(src="/assets/images/baby.gif")
  h2=""
  | This is a tribute to the old times, when iframes was the new big thing and JavaScript wasn't widely used.
  h2=""
  | I wanted to investigate how hard it would be to implement a &lt;noscript>-compatible nes emulator that could
  | be played together with other people in realtime. A stretch goal was to make it work in browsers from the late 90's.
  h2=""
  | Ironically, everything is written in JavaScript on the server using Node.js. :D
  h2=""
  | The design of this page is a tribute to first page ever created, check it out
  a(href="http://info.cern.ch/hypertext/WWW/TheProject.html" target="_blank")=" here."
  h2=""